* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;   Debug
}

:root {
    --zoom-darker: rgba(34, 34, 34, 1);
    --zomm-dark: rgba(74, 74, 74, 1);
    --zoom-lighter: rgba(255, 255, 255, 1);
    --zoom-danger: rgba(241, 11, 32, 1);
    --zoom-succes: rgba(75, 200, 0, 1);
}

/* #region common */
body {
    height: 100vh;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
}
/* #endregion common */

/* #region utilities */
.container {
    width: 80%;
    margin: auto;
}
/* #endregion utilities */

/* #region header */
.top_right_btns {
    position: absolute;
    top: 2%;
    right: 1%;
}

.header_btn {
    border: 0;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: var(--zomm-dark);
}

.speaker_view {
    color: var(--zoom-lighter);
    font-size: 0.7rem;
}

.enlarge_btn {
    color: var(--zoom-lighter);
    padding: 0 0.25rem;
}
/* #endregion header */

/* #region main */
#site_main {
    background-color: var(--zoom-darker);
    padding-top: 5rem;
}

.row {
    display: flex;
}

.col {
    width: calc(( 100% / 14 ) * 2);
    padding: 0.25rem;
    position: relative
}

.user_name {
    color: var(--zoom-lighter);
    background-color: var(--zomm-dark);
    position: absolute;
    bottom: 0;
    left: 0;

}
/* #endregion main */

/* #region footer */
.footer_menu {
    display: flex;
    justify-content: space-between;
}
/* #endregion footer */