* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed black;      debug */
}

:root {
    --zoom-darker: rgba(34, 34, 34, 1);
    --zoom-main-bg: rgba(0, 0, 0, 1);
    --zoom-dark: rgba(74, 74, 74, 1);
    --zoom-dark-seethrough: rgba(74, 74, 74, 0.7);
    --zoom-lighter: rgba(255, 255, 255, 1);
    --zoom-danger: rgba(241, 11, 32, 1);
    --zoom-succes: rgba(75, 200, 0, 1);
}

/* #region common */
body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--zoom-lighter);
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.7rem;
}
/* #endregion common */

/* #region utilities */
.container {
    width: 90%;
    margin: auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.large_icon {
    font-size: 1rem;
}
/* #endregion utilities */

/* #region header */
.top_right_btns {
    position: absolute;
    top: 2%;
    right: 1%;
    gap: 0.2rem;
}

.header_btn {
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: var(--zoom-dark);
}

.speaker_view {
    font-size: 0.7rem;
}

.enlarge_btn {
    padding: 0 0.25rem;
}
/* #endregion header */

/* #region main */
#site_main {
    background-color: var(--zoom-main-bg);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    position: relative;
    padding: 0.2rem;
    
}

.user_name {
    font-size: 0.7rem;
    color: var(--zoom-lighter);
    padding: 0.1rem;
    background-color: var(--zoom-dark-seethrough);
    position: absolute;
    bottom: 0.4rem;
    left: 0.2rem;

}
/* #endregion main */

/* #region footer */
#site_footer {
    background-color: var(--zoom-darker);
}
.footer_menu {
    display: flex;
    justify-content: space-between;
}

.left_menu {
    
}

.option_menu {
    color: var(--zoom-lighter);
    font-size: 0.6rem;
    padding: 0.5rem;
}

.share {
    color: var(--zoom-succes);
}

.end_meeting {
    color: var(--zoom-danger);
    background-color: var(--zoom-dark);
    padding: 1.5rem 1rem;
}

/* #endregion footer */