* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed black;      debug */
}

:root {
    --zoom-darker: rgba(34, 34, 34, 1);
    --zoom-main-bg: rgba(0, 0, 0, 1);
    --zoom-dark: rgba(74, 74, 74, 1);
    --zoom-dark-seethrough: rgba(74, 74, 74, 0.7);
    --zoom-lighter: rgba(255, 255, 255, 1);
    --zoom-danger: rgba(241, 11, 32, 1);
    --zoom-succes: rgba(75, 200, 0, 1);
}

/* #region common */


a {
    text-decoration: none;
    color: var(--zoom-lighter);
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

li {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.7rem;
}
/* #endregion common */

/* #region utilities */
.container {
    height: 100vh;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-align-c {
    align-items: center;
}

.large_icon {
    font-size: 1rem;
}
/* #endregion utilities */

/* #region header */
#site_header {
    position: relative;
    height: 35px;
    background-color: var(--zoom-main-bg);
}
.top_right_btns {
    position: absolute;
    top: 2%;
    right: 1%;
    gap: 0.2rem;
}

.header_btn {
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: var(--zoom-dark);
}

.speaker_view {
    font-size: 0.7rem;
}

.enlarge_btn {
    padding: 0 0.25rem;
}
/* #endregion header */

/* #region main */
#site_main {
    background-color: var(--zoom-main-bg);
}

.main_container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding: 1rem 0;
    gap: 10px;
    height: calc(100vh - 95px);
    overflow: auto;
}

.card {
    width: 200px;
    height: 100px;
    position: relative;
}

.user_name {
    font-size: 0.7rem;
    color: var(--zoom-lighter);
    padding: 0.1rem;
    background-color: var(--zoom-dark-seethrough);
    position: absolute;
    bottom: 0;
    left: 0;

}
/* #endregion main */

/* #region footer */
#site_footer {
}
.footer_menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--zoom-darker);
    height: 60px;
    justify-content: space-between;
}

.option_menu {
    color: var(--zoom-lighter);
    font-size: 0.6rem;
    padding: 0.5rem;
}

.share {
    color: var(--zoom-succes);
}

.right_menu {
    height: 100%;
    background-color: var(--zoom-dark);
}
.end_meeting {
    color: var(--zoom-danger);
    line-height: 60px;
    padding: 0 1rem;
}
/* #endregion footer */